{% extends "blog/base.html" %}
{% load static %}

{% include "partials/_header.html" %}
{% block content %}
<body>
    <div class="container">
        <section class="main-contact">
            <nav class="contact-info">
                <a href="https://www.linkedin.com/in/lucas-menezes-885ab1205/"><img src="{% static "/assets/ícones/1x/linkedin.png" %}"></a>
                <a href="https://github.com/Lucas-menezzes"><img src="{% static "/assets/ícones/1x/github.png" %}"></a>
                <a ><img src="{% static "/assets/ícones/1x/contact.png" %}"> (11) 96168-3629 </a>
                <a ><img src="{% static "/assets/ícones/1x/document.png" %}"> lu289997@gmail.com</a>
            </nav>
        </section>
    </div>
</body>
{% endblock content %}
