{% load static %}

<div class="container">
    <nav class="menu-lateral">
        <nav class="menu-lateral__navegacao">
            <a href="{% url "home" %}"><img src="{% static '/assets/ícones/1x/3917033.png' %}" alt="Home" class="icone-home"> Home</a>
            <a href="{% url "project" %}"><img src="{% static '/assets/ícones/1x/project.png' %}"> Projetos </a>
            <a href="{% url "contact" %}"><img src="{% static '/assets/ícones/1x/contact.png' %}"> Contato</a>
            <a href="{% url "document" %}"><img src="{% static '/assets/ícones/1x/document.png' %}"> Documentos</a>
            <a href="{% url "login" %}"><img src="{% static '/assets/ícones/1x/Novas - inativo.png' %}"> Login</a>
            <a href="{% url "calculator" %}"><img src="{% static '/assets/ícones/1x/Novas - inativo.png' %}"> Calculadora</a>
        
        
        </nav>
    </nav>
</section>