{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projetos de Lucas</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "styles/style.css" %}">

</head>

<footer class="rodape">
    <div class="rodape__icones">
        {% comment %} Colocar em MEUS LINKS {% endcomment %}
        <a href="https://www.linkedin.com/in/lucas-menezes-885ab1205/" target=”_blank” >
            <img src="{% static "/assets/ícones/1x/linkedin.png" %}" alt="ícone twitter">
        </a>
    </div>
    <p class="rodape__texto">Desenvolvido por Lucas Menezes</p>
</footer>